@{
    ViewBag.Title = "Home Page";
}

@if (Request.IsAuthenticated)
{
    <h2 class="text-center">SERVICIO DEL CLIMA</h2>
    <hr style="background-color: salmon; height: 3px;">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default panel-up">
                <div class="panel-body">
                    <h3 class="text-center panel-title-forecast">Seleccioná la zona</h3>
                    <hr class="hr-panel-forecast">
                    <br />
                    <br />
                    <form action="/Home/GetForecastForCity" method="post">
                        <div class="form-group">
                            <label for="selectPais">País</label>
                            @Html.DropDownList("countryId", null, string.Empty, htmlAttributes: new { @class = "form-control", id = "paisSelectId", required = true })
                        </div>
                        <div class="form-group">
                            <label for="selectCiudad">Ciudad</label>
                            <select id="selectCiudad" name="cityApiId" class="form-control" required></select>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-default" style="background-color: salmon; width: 100%; color: white; font-weight: bold;">
                            Buscar
                        </button>
                    </form>
                </div>
            </div>
        </div>
        @if (ViewBag.dayForecastCompleteContract != null)
        {
            <div class="col-md-6">
                <div class="panel panel-default panel-up">
                    <div class="panel-body">
                        <h3 class="text-center panel-title-forecast">Reporte del día</h3>
                        <hr class="hr-panel-forecast">
                        <div class="col-md-6">
                            <h5 style="color: grey">@ViewBag.countryName</h5>
                            <h4 style="color: grey">@ViewBag.cityName</h4>
                            <h2 class="bold-text spacing-text" style="margin-bottom: 0px;">@ViewBag.dayForecastCompleteContract.Day.ToUpper()</h2>
                            <h4 class="bold-text spacing-text">@ViewBag.dayForecastCompleteContract.DescriptionWeather.ToUpper()</h4>
                            <h3 class="bold-text spacing-text" style="font-size: 40px;margin-bottom: 25px;">@ViewBag.dayForecastCompleteContract.TemperatureInCelcius ºC</h3>
                            <h4 class="bold-text spacing-text">@ViewBag.dayForecastCompleteContract.TemperatureInFarenheit ºF</h4>
                        </div>
                        <div class="col-md-6">
                            <img src="@string.Format("../IconsWeather/{0}.png", ViewBag.dayForecastCompleteContract.Icon)" class="img-forecast">
                            <p class="extra-information" style="margin-top: 70px;">Prob. de precipitaciones: @ViewBag.dayForecastCompleteContract.ProbabilityOfPrecipitation</p>
                            <p class="extra-information">Humedad: @ViewBag.dayForecastCompleteContract.Humidity %</p>
                            <p class="extra-information">Viento: a @ViewBag.dayForecastCompleteContract.WindSpeed km/h.</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    if (ViewBag.weekForecastContract != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default" style="margin-bottom: 50px;">
                    <div class="panel-body">
                        <div class="row row-week-information">
                            @foreach (var dayForecastSimple in ViewBag.weekForecastContract.WeatherDaySimpleContracts)
                            {
                                <div class="col-md-2 box-day-week">
                                    <h5 class="title-week-forecast spacing-text">@dayForecastSimple.Day.ToUpper()</h5>
                                    <img src="@string.Format("../IconsWeather/{0}.png", dayForecastSimple.Icon)" class="img-forecast-week">
                                    <h5 class="extra-information-week spacing-text">@dayForecastSimple.TemperatureInCelcius ºC</h5>
                                    <h5 class="extra-information-week spacing-text">@dayForecastSimple.TemperatureInFarenheit ºF</h5>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @section scripts {
        <script>
            $(document).ready(function () {
                if ($("#paisSelectId").val()) {
                    $.ajax({
                        url: '/Home/GetCitiesForCountry',
                        data: { countryId: $("#paisSelectId").val() },
                        success: function (data) {
                            $('#selectCiudad').empty();
                            data.forEach(element => $('#selectCiudad').append(new Option(element.Name, element.CityIdApi)));
                            $("#selectCiudad").val(@ViewBag.cityIdSelected);
                        },
                        dataType: 'json'
                    });
                }
                $("#paisSelectId").on("change", function (event) {
                    if (event.target.value) {
                        $.ajax({
                            url: '/Home/GetCitiesForCountry',
                            data: { countryId: event.target.value },
                            success: function (data) {
                                $('#selectCiudad').empty();
                                data.forEach(element => $('#selectCiudad').append(new Option(element.Name, element.CityIdApi)));
                            },
                            dataType: 'json'
                        });
                    } else
                        $('#selectCiudad').empty();
                });
            });
        </script>
    }

}
else
{
    <h1 class="welcome-title">Bienvenido a America Virtual</h1>
    <h3 style="color: dimgrey;">Todo lo que queres saber del pronóstico está acá</h3>
}
